<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org" th:fragment="layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <!--공통 CSS-->
    <link rel="stylesheet" th:href="@{/css/form.css}">
    <!--공통 CSS-->
    <!-- 부트스트랩 CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.0.1/css/bootstrap.css}">
    <!-- 부트스트랩 CSS -->
    <!-- 부트스트랩 JS -->
    <script th:src="@{/webjars/bootstrap/5.0.1/js/bootstrap.js}"></script>
    <!-- 부트스트랩 JS -->
    <!-- jquery JS -->
    <script th:src="@{/webjars/jquery/1.11.1/js/jquery.js}"></script>
    <!-- jquery JS -->
    <!-- 제목 -->
    <title th:text="${title} ? ${title} : 'Everyone-Tayo'"></title>
    <!-- 제목 -->
</head>
<body>
<div class = "wrapper">
    <header th:replace="~{fragment/header :: layoutHeader}"></header>
    <th:block th:if="${session['member']}">
        <aside th:replace="~{fragment/aside :: layoutSide}"></aside>
    </th:block>

    <main th:replace="${main} ? ${main} : ~{}"></main></div>
<footer th:replace="~{fragment/footer :: layoutFooter}"></footer>
</div>

</body>
</html>