<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="container">
    <header th:fragment="layoutHeader" >
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="index">
                    <img width="50" height="50" src="../icon/logo.png" alt="School bus" title="School bus" class="loaded">
                    &nbsp&nbsp&nbspEveryone-Tayo</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="true" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse show" id="navbarColor01" style="">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="bus_status">버스 관리</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">버스 기사 관리</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="signup">버스 기사 추가</a>
                                <a class="dropdown-item" href="delete_bus_driver">버스 기사 삭제</a>
                                <a class="dropdown-item" href="read_bus_driver">버스 기사 목록</a>
                            </div>
                        </li>

                        <!--                        <li class="nav-item dropdown">-->
                        <!--                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>-->
                        <!--                            <div class="dropdown-menu">-->
                        <!--                                <a class="dropdown-item" href="#">Action</a>-->
                        <!--                                <a class="dropdown-item" href="#">Another action</a>-->
                        <!--                                <a class="dropdown-item" href="#">Something else here</a>-->
                        <!--                                <div class="dropdown-divider"></div>-->
                        <!--                                <a class="dropdown-item" href="#">Separated link</a>-->
                        <!--                            </div>-->
                        <!--                        </li>-->
                    </ul>
                    <form class="d-flex">
                        <button type="button" class="btn btn-warning">로그아웃</button>&nbsp;&nbsp;&nbsp;
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">설정</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
</div>
</div>

</body>
</html>