<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org"
      th:replace="fragment/boarder ::layout(title='버스 현황', main=~{::main}, css=~{::#css})">
<head>
    <meta charset="UTF-8">
    <title>title</title>
</head>
<body>
<main class="mb-3">
    <div id = "wrapper">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div id="sidetable-wrapper" class="sidetable-toggle">
                    <div class="card-body">
                        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
                        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
                        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
                        <table id="example" class="display" style="width:100%">
                            <thead>
                            <tr>
                                <th>번호</th>
                                <th>현 위치</th>
                                <th>노선 방향</th>
                                <th>시각 장애인 이용 여부</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>733</td>
                                <td>동의대앞</td>
                                <td>다대포->노포</td>
                                <td style = "text-align: center"><button class="btn btn-success">노 사용</button></td>
                            </tr>
                            <tr>
                                <td>233</td>
                                <td>동의대앞</td>
                                <td>노포-> 다대포</td>
                                <td style = "text-align: center"><button class="btn btn-info">사용 중??</button></td>
                            </tr>
                            <tr>
                                <td>933</td>
                                <td>가야대앞</td>
                                <td>노포-> 다대포</td>
                                <td style = "text-align: center"><button class="btn btn-info">사용 중??</button></td>
                            </tr>
                            <tr>
                                <td>933</td>
                                <td>가야대앞</td>
                                <td>노포-> 다대포</td>
                                <td style = "text-align: center"><button class="btn btn-info">사용 중??</button></td>
                            </tr>
<!--                            <tr th:each="busStop : ${bus_stop}">-->
<!--&lt;!&ndash;                                <td th:text = "${busStop.nodeid}"></td>&ndash;&gt;-->
<!--                                <td>가야대앞</td>-->
<!--                                <td>노포-> 다대포</td>-->
<!--                                <td style = "text-align: center"><button class="btn btn-info">사용 중??</button></td>-->
<!--                            </tr>-->
                            </tbody>
                            <tfoot>

                            <!--              <tr>-->
                            <!--                <td>133</td>-->
                            <!--                <td>동의대앞</td>-->
                            <!--                <td>다대포->노포</td>-->
                            <!--                <td style = "text-align: center"><button class="btn btn-info">사용 중??</button></td>-->
                            <!--              </tr>-->
                            </tfoot>
                        </table>
                    </div>
                    <script>
                        $(document).ready(function() {
                            $('#example').DataTable();
                        } );
                    </script>
                </div>
            </div>
        </nav>
    </div>

    <h2 class="mb-5" style = "transform: translateX(300px);">버스 현황</h2>
    <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=0212d8210f9524bd73de128efb7f7163"></script>
    <div id="map" style="width:80%;height:700px; transform: translateX(200px);"></div>
    <script>
    </script>
    <script>
        // var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        //     mapOption = {
        //         center: new kakao.maps.LatLng(37.566826, 126.9786567), // 지도의 중심좌표
        //         level: 3 // 지도의 확대 레벨
        //     };
        //
        // var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다
        //
        // // 지도에 교통정보를 표시하도록 지도타입을 추가합니다
        // var markerPosition  = new kakao.maps.LatLng("${busStop.gps_lati}", "${busStop.gps_long}");
        // // 마커를 생성합니다
        // var marker = new kakao.maps.Marker({
        //     position: markerPosition
        // });

        // 마커가 지도 위에 표시되도록 설정합니다
        // marker.setMap(map);

        var mapContainer = document.getElementById('map'), // 지도를 표시할 div
            mapOption = {
                center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
                level: 3 // 지도의 확대 레벨
            };

        var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다
        </script>
        <script th:each="busStop : ${bus_stop}">
        // 마커를 표시할 위치와 title 객체 배열입니다
        var coords = new kakao.maps.LatLng(<div th:text = "${busStop.gpsLati}" />,  <div "${busStop.gpsLong}"/>)


        var marker = new kakao.maps.Marker({
            map: map, // 마커를 표시할 지도
            position: coords // 마커를 표시할 위치
        });
        marker.setMap(map);
        // var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        //         mapOption = {
        //           center: new kakao.maps.LatLng(35.153810, 129.030976), // 지도의 중심좌표
        //           level: 3 // 지도의 확대 레벨
        //         };
        // var x = 0.000001
        // var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다
        // var marker = new kakao.maps.Marker({
        //   // 지도 중심좌표에 마커를 생성합니다
        //   position: map.getCenter()
        // });
        // marker.setMap(map);
        // window.setInterval(function() {
        //   marker.setMap(null);
        //   window.setTimeout(function() {
        //     x+= 0.000001
        //     var town_positions = [
        //       {
        //         title: '동의대역',
        //         latlng: new kakao.maps.LatLng(35.153516+x, 129.028830)
        //       }
        //     ];
        //
        //     var townImg = "../icon/townmarker.png";
        //
        //     for (var i = 0; i < town_positions.length; i++) {
        //
        //       // 마커 이미지의 이미지 크기 입니다
        //       var imageSize = new kakao.maps.Size(36, 47);
        //
        //       // 마커 이미지를 생성합니다
        //       var markerImage = new kakao.maps.MarkerImage(townImg, imageSize);
        //
        //       // 마커를 생성합니다
        //       var marker = new kakao.maps.Marker({
        //         map: map, // 마커를 표시할 지도
        //         position: town_positions[i].latlng, // 마커를 표시할 위치
        //         title: town_positions[i].title, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
        //         image: markerImage // 마커 이미지
        //       });}
        //   }, 100);
        // }, 1000); // 10초마다 한 번씩 refresh

        // 아래 코드는 위에서 추가한 교통정보 지도타입을 제거합니다
        // map.removeOverlayMapTypeId(kakao.maps.MapTypeId.TRAFFIC);
        // function makeRandom(min, max){
        //   var RandVal = Math.floor(Math.random()*(max-min+1)) + min;
        //   return RandVal;
        // }
        // var x = setTimeout(function () {
        //   makeRandom(35.153810, 35.153900);
        // }, 3000);
        // var y = setTimeout(function () {
        //   makeRandom(129.030976, 129.03100);
        // }, 3000);
        //
        //
        //
        //
        // marker.setMap(map);
        // marker.setPosition(x, y);
        // 고속 버스 마커
        // var express_positions = [
        //   {
        //     title: '동의대역',
        //     latlng: new kakao.maps.LatLng(35.154091, 129.032544)
        //   }
        // ];
        //
        // var expressImg = "../icon/expressmarker.png";
        //
        // for (var i = 0; i < express_positions.length; i++) {
        //
        //   // 마커 이미지의 이미지 크기 입니다
        //   var imageSize = new kakao.maps.Size(36, 47);
        //
        //   // 마커 이미지를 생성합니다
        //   var markerImage = new kakao.maps.MarkerImage(expressImg, imageSize);
        //
        //   // 마커를 생성합니다
        //   var marker = new kakao.maps.Marker({
        //     map: map, // 마커를 표시할 지도
        //     position: express_positions[i].latlng, // 마커를 표시할 위치
        //     title: express_positions[i].title, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
        //     image: markerImage // 마커 이미지
        //   });
        // }
        //
        // // 일반 버스 마커
        // var general_positions = [
        //   {
        //     title: '동의대역',
        //     latlng: new kakao.maps.LatLng(35.153810, 129.030976)
        //   }
        // ];
        //
        // var generalImg = "../icon/generalmarker.png";
        //
        // for (var i = 0; i < general_positions.length; i++) {
        //
        //   // 마커 이미지의 이미지 크기 입니다
        //   var imageSize = new kakao.maps.Size(36, 47);
        //
        //   // 마커 이미지를 생성합니다
        //   var markerImage = new kakao.maps.MarkerImage(generalImg, imageSize);
        //
        //   // 마커를 생성합니다
        //   var marker = new kakao.maps.Marker({
        //     map: map, // 마커를 표시할 지도
        //     position: general_positions[i].latlng, // 마커를 표시할 위치
        //     title: general_positions[i].title, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
        //     image: markerImage // 마커 이미지
        //   });
        // }
        //
        // // 마을 버스 마커
        // var town_positions = [
        //   {
        //     title: '동의대역',
        //     latlng: new kakao.maps.LatLng(35.153516, 129.028830)
        //   }
        // ];
        //
        // var townImg = "../icon/townmarker.png";
        //
        // for (var i = 0; i < town_positions.length; i++) {
        //
        //   // 마커 이미지의 이미지 크기 입니다
        //   var imageSize = new kakao.maps.Size(36, 47);
        //
        //   // 마커 이미지를 생성합니다
        //   var markerImage = new kakao.maps.MarkerImage(townImg, imageSize);
        //
        //   // 마커를 생성합니다
        //   var marker = new kakao.maps.Marker({
        //     map: map, // 마커를 표시할 지도
        //     position: town_positions[i].latlng, // 마커를 표시할 위치
        //     title: town_positions[i].title, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
        //     image: markerImage // 마커 이미지
        //   });
        // }

    </script>
</main>
</body>
</html>