<!DOCTYPE html>
<html lang="ko" xmlns:th = "https://www.thymeleaf.org"
      th:replace="fragment/boarder ::layout(title='버스 기사 삭제', main=~{::main}, css=~{::#css})">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main class="main">
    <br>
    <h2> 버스 계정 목록 </h2>
    <hr>
    <div class="container">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
        <table id="example" class="display" style="width:100%">
            <thead class = "text-center">
            <tr>
                <th>UUID</th>
                <th>버스 번호</th>
                <th>아이디</th>
                <th>패스워드</th>
                <th>삭제 여부</th>
            </tr>
            </thead>
            <tbody  class = "text-center">
            <tr th:each="Bus : ${bus}">
                <td th:text = "${Bus.uuid}"></td>
                <td th:text = "${Bus.busNumber}"></td>
                <td th:text = "${Bus.username}"></td>
                <td th:text = "${Bus.password}"></td>
                <td style = "text-align: center"><button class="btn btn-warning" type = "submit">삭제</button></td>
            </tr>
            </tbody>
        </table>
    </div>
    <script>
        $(document).ready(function() {
            $('#example').DataTable();
        } );
    </script>

</main>
</body>
</html>