<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org"
      th:replace="fragment/boarder ::layout(title='관리자 페이지', main=~{::main}, css=~{::#css})">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<main class="main">
  <br>
  <h2> 버스 예약 현황 </h2>
  <hr>
  <div class="card-body">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <table id="example" class="display" style="width:100%">
      <thead class = "text-center">
      <tr>
        <th>UUID</th>
        <th>예약 시간</th>
      </tr>
      </thead>
      <tbody  class = "text-center">

      <tr th:each="Re : ${reservation}">
        <td th:text = "${Re.uuid}"></td>
        <td th:text = "${Re.timeStamp}"></td>
      </tr>
      </tbody>
    </table>
  </div>
  <script>
    $(document).ready(function() {
      $('#example').DataTable();
    } );
  </script>

</main>
</body>
</html>