<!Doctype html>
<html lang="ko"  xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Every Tayo Team</title>
    <link rel="stylesheet" th:href="@{/css/team_info.css}">
</head>
<body>

<div class="wrapper">
    <ul class="team">
        <li class="team-item">
            <div class="profile profile_red">
                <img src="icon/man_black.png">
                <div class="profile-contents">
                    <h2>Sanghoon Lee<span>Leader</span></h2>
                    <p>동의대학교 컴퓨터소프트웨어 공학과</p>
                </div>
            </div>
        </li>
        <li class="team-item">
            <div class="profile profile_beige">
                <img src="icon/man_red.png">
                <div class="profile-contents">
                    <h2>Gyuup Jeong <span>Front-end / Designer</span></h2>
                    <p>동의대학교 컴퓨터소프트웨어 공학과</p>
                </div>
            </div>
        </li>
        <li class="team-item">
            <div class="profile profile_green">
                <img src="icon/girl.png">
                <div class="profile-contents">
                    <h2>Min Son <span>Full-stack</span></h2>
                    <p>동의대학교 컴퓨터소프트웨어 공학과</p></div>
            </div>
        </li>
        <li class="team-item">
            <div class="profile profile_pink">
                <img src="icon/man_red.png">
                <div class="profile-contents">
                    <h2>Sungho Park <span>Full-stack</span></h2>
                    <p>동의대학교 컴퓨터소프트웨어 공학과</p></div>
            </div>
        </li>
    </ul>
</div>
</body>
</html>
